<aside class="col-md-4 blog-aside">
  <div class="aside-widget">
    <header>
      <h3>Read next...</h3>
    </header>
    <div class="body">
      <ul class="tales-list">
        <% @posts.each do |post| %>
          <li><a href="#"><%= link_to post.title, post %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="aside-widget">
    <header>
      <h3>Authors Favorites</h3>
    </header>
    <div class="body">
      <ul class="tales-list">
        <% @posts.each do |post| %>
          <li><a href="#"><%= link_to post.title, post %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="aside-widget">
    <header>
      <h3>Tags</h3>
    </header>
    <div class="body clearfix">
      <ul class="tags">
        <% tag_cloud(Tag.counts) do |tag| %>
          <li><%= link_to tag.name, tag_path(tag.name) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</aside>
